# SPDX-FileCopyrightText: 2026 tao3k team and Contributors
#
# SPDX-License-Identifier: Apache-2.0 AND LGPL-2.1-or-later

[submodule "lambda-episteme"]
	path = packages/lambda-episteme
	url = https://github.com/tao3k/lambda-episteme.git
[submodule "lambda-aitia"]
	path = packages/lambda-aitia
	url = https://github.com/tao3k/lambda-aitia.git
[submodule "core"]
	path = core
	url = https://github.com/tao3k/poo-flow-core.git
